@import url(http://fonts.googleapis.com/css?family=Economica:700)
body
  background-color #b09f85
  overflow hidden
  margin 0 0 0 0
  padding 0 0 0 0
  height 100%

.center 
  margin-right auto
  margin-left auto

.galand 
  background-image url('../img/galand.jpg')
  width 609px
  height 575px
  background-repeat no-repeat

.clear 
  width 100%
  clear both

h1 
  font-size 50px
  font-family Economica, 'Sans Serif', Arial
  font-weight 700
  color #e7ded5
  margin-right auto
  margin-left auto
  text-align center

h2 
  font-size 11px
  color #a49173
  font-family Roboto, 'Open Sans', 'Sans Serif', Arial
  text-align center
